*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
:root{
    --bg: #2E4053;
    --white : #FBFCFC;
    --light-white : #F2F3F4;
}


@media only screen and (max-width: 550px) {
    .home-container{
        width: 100%;
        height: 100vh;
        background-color: #2E4053;
        color: var(--white);
    }
  }
  