@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
:root{
    --primary : #39f7be;
    --bg: #0E1415;
    --white : #FBFCFC;
    --light-white : #c0c0c0;
}


@media only screen and (max-width: 550px) {
    section{
        width: 100%;
        height: 100vh;
        background-color: var(--bg);
        border-bottom: 1px solid var(--light-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 7%;
    }
    .heading{
        width: 100%;
        padding: 13px 0;
        margin-bottom: 20px;
        position: relative;
    }
    .heading p{
        display: inline;
        padding-right: 10px;
        background-color: var(--bg);
        font-size: 22px;
        position: relative;
        font-weight: 500;
        z-index: 99;
    }
    .heading::after{
        position: absolute;
        content: '';
        width: 90%;
        height: 1px;
        background-color: var(--light-white);
        left: 0;
        top: 50%;
    }
    .home-container{
        width: 100%;
        height: 100vh;
        background-color: var(--bg);
        color: var(--white);
        padding: 0 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    p{
        font-size: 15px;
        line-height: 29px;
        color: var(--light-white);
    }
    .home-container h3{
        font-size: 52px;
        line-height: 66px;
        font-weight: 600;
        color: var(--primary);
        margin-top: 12px;
    }
    .home-container .designation{
        color: var(--white);
        margin-bottom: 17px;
    }
    .btn{
        padding: 12px 30px;
        border: 2px solid var(--primary);
        margin-top: 40px;
        text-decoration: none;
        color: var(--primary);
        border-radius: 5px;
    }
    .btn:hover{
        background-color: var(--primary);
        color: #333;
        transition: all .5s ease;
    }
  }
  

















































